body {
	font-family:  "Helvetica", serif, sans-serif;
	font-size: 16px;
	background-color: #f8f9fa;
	padding-top: 55px;

}

/* Custom Fonts */
@font-face {
     font-family: 'Run';
     src: url(../mithical.github.io/fonts/run.ttf);
 }
 
 /* Header */

.page-header {
	position: fixed;
    width: 100%;
	top: 0;
    background-color: #00aeff;
    height: 50px;
    box-shadow: 0 -1px 3px #343434;
    -moz-box-shadow: 0 -1px 3px #343434;
    z-index: 100;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;	
}


.title {
	position: relative;
	font-family: Run;
	font-size: 35px;
	text-align: center;
	margin-top: 2px;
}

.logo img {
	position: relative;
	float: left;
	width: 45px;
	margin-top: 3px;
	margin-left: 10px;
	
}

.menu {
	position: relative;
	float: right;
	z-index: 101;
	margin-top: 2px;
	

}

/* Header Background Colors */

.content-white {
	color: #ffffff;
}

.content-blue {
	color: #00aeff;
}

.content-black {
	color: #000;
}

bg-white {
	background-color: #fff !important;
}

.bg-dark {
	background-color: #000 !important;
}

.bg-iemulators {
	background-color: #044ed1 !important;
}

.bg-twitch {
	background-color: #6441A4 !important;
}

/* Button for Overlay */


.btn-transparent {
    background-color: transparent;
	color: #fff;

}

.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
    background-image: none;
}

btn-blue i {
	color: #fff;
}
      
/* Overlay Menu */
      
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);     
    background-color: #00aeff;
    overflow-x: hidden;
    transition: 0.20s;
    z-index: 1001;
    opacity: 0.90;
     
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.overlay a {
    font-family: Run;
    padding: 5px;
    text-decoration: none;
    font-size: 45px;
    color: #fff;
    display: block;
    transition: 0.3s;  
}

.overlay a:hover, .overlay a:focus {
    color: #fff;
	
}

.overlay a:active {
    color: #d4f0ff;
}

.overlay .closebutton {
    position: absolute;
    top: -22px;
    right: 5px;
    font-size: 60px;
	width: 50px;
	text-decoration: none;
}