body {
	font-family:  "Helvetica", serif, sans-serif;
	font-size: 16px;
}

@font-face {
     font-family: Run;
     src: url(../fonts/run.ttf);
 }

.page-header {
    width: 100%;
    background-color: #00aeff;
    position: fixed;
    height: 50px;
	text-align: center;
	color: #ffffff;
    box-shadow: 0 -1px 3px #343434;
    -moz-box-shadow: 0 -1px 3px #343434;
    z-index: 1;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
	
	}

.title {
	font-family: Run;
	font-size: 35px;
	margin-top: 2px;
}