body {
	font-family:  "Helvetica", serif, sans-serif;
	font-size: 16px;
}

/* Custom Fonts */
@font-face {
     font-family: 'Run';
     src: url(../mithical.github.io/fonts/run.ttf);
 }
 
 /* Header */

.page-header {
    width: 100%;
    background-color: #00aeff;
    position: fixed;
    height: 50px;
    box-shadow: 0 -1px 3px #343434;
    -moz-box-shadow: 0 -1px 3px #343434;
    z-index: 100;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;	
}

.title {
	position: relative;
	font-family: Run;
	font-size: 35px;
	text-align: center;
	color: #ffffff;
	margin-top: 2px;
}

.logo img {
	position: relative;
	float: left;
	width: 45px;
	margin-top: 3px;
	margin-left: 10px;
}

.menu {
	position: relative;
	float: right;
	z-index: 101;
	color: #fff;
	margin-top: 2px;
	

}

/* Button for Overlay */


.btn-blue {
    background-color: #00aeff;
	color: #fff;
}

.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
    background-image: none;
}

      
/* Overlay Menu */
      
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);     
    background-color: #00aeff;
    overflow-x: hidden;
    transition: 0.20s;
    z-index: 1001;
    opacity: 0.90;
     
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.overlay a {
    font-family: Run;
    padding: 5px;
    text-decoration: none;
    font-size: 45px;
    color: #fff;
    display: block;
    transition: 0.3s;  
}

.overlay a:hover, .overlay a:focus {
    color: #fff;
	
}

.overlay a:active {
    color: #d4f0ff;
}

.overlay .closebutton {
    position: absolute;
    top: -22px;
    right: 5px;
    font-size: 60px;
	width: 50px;
	text-decoration: none;
}

